 <aside id="sidebar" class="u-sidebar">
        <div class="u-sidebar-inner">
          <header class="u-sidebar-header">
            <a class="u-sidebar-logo" href="index.html">
              <img class="img-fluid" src="./assets/img/logo.png" width="124" alt="Stream Dashboard">
            </a>
          </header>

          <nav class="u-sidebar-nav">
            <ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">
              <!-- Dashboard -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link active" href="./index.html">
                  <i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Tableau de bord</span>
                </a>
              </li>
              <!-- End Dashboard -->

              <!-- Base UI -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="#!"
                   data-target="#baseUI">
                  <i class="fa fa-tasks u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Taches</span>
                  <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                  <span class="u-sidebar-nav-menu__indicator"></span>
                </a>

                <ul id="baseUI" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level" style="display: none;">
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" id="create_task_link" href="#!">
                      <span class="u-sidebar-nav-menu__item-icon">N</span>
                      <span class="u-sidebar-nav-menu__item-title">Nouveau</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- End Base UI -->

              <!-- UI Components -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="#!"
                   data-target="#subMenu1">
                  <i class="fa fa-user-circle-o u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Compte</span>
                  <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                  <span class="u-sidebar-nav-menu__indicator"></span>
                </a>

                <ul id="subMenu1" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level" style="display: none;">
                  <!-- Components -->
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="/homes/show">
                      <span class="u-sidebar-nav-menu__item-icon">P</span>
                      <span class="u-sidebar-nav-menu__item-title">Profile</span>
                    </a>
                  </li>
                
                  <!-- End Components -->
                </ul>
              </li>
              <!-- End UI Components -->

          

              <!-- End Free Download -->
            </ul>
          </nav>
        </div>
      </aside>
      <!-- End Sidebar -->