    <!-- Header (Topbar) -->
    <header class="u-header">
      <div class="u-header-left">
        <a class="u-header-logo" href="index.html">
          <img class="u-logo-desktop" src="./assets/img/logo.png" width="160" alt="Stream Dashboard">
          <img class="img-fluid u-logo-mobile" src="./assets/img/logo-mobile.png" width="50" alt="Stream Dashboard">
        </a>
      </div>

      <div class="u-header-middle">
        <a class="js-sidebar-invoker u-sidebar-invoker" href="#!"
           data-is-close-all-except-this="true"
           data-target="#sidebar">
          <i class="fa fa-bars u-sidebar-invoker__icon--open"></i>
          <i class="fa fa-times u-sidebar-invoker__icon--close"></i>
        </a>

       
        
      </div>

      <div class="u-header-right">
        <!-- Activities -->



        <!-- End Apps -->

        <!-- User Profile -->
        <div class="dropdown ml-2">
          <a class="link-muted d-flex align-items-center" href="#!" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <img class="u-avatar--xs img-fluid rounded-circle mr-2" src="./assets/img/avatars/img1.jpg" alt="User Profile">
            <span class="text-dark d-none d-sm-inline-block">
              Bruce Goodman <small class="fa fa-angle-down text-muted ml-1"></small>
            </span>
          </a>

    

     
            </div>
          </div>
        
        <!-- End User Profile -->
      </div>
    </header>
    <!-- End Header (Topbar) -->

    <main class="u-main" role="main">
      <!-- Sidebar -->
      <aside id="sidebar" class="u-sidebar">
        <div class="u-sidebar-inner">
          <header class="u-sidebar-header">
            <a class="u-sidebar-logo" href="index.html">
              <img class="img-fluid" src="./assets/img/logo.png" width="124" alt="Stream Dashboard">
            </a>
          </header>

          <nav class="u-sidebar-nav">
            <ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">
              <!-- Dashboard -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link active" href="./index.html">
                  <i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Dashboard</span>
                </a>
              </li>
              <!-- End Dashboard -->

              <!-- Base UI -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="#!"
                   data-target="#baseUI">
                  <i class="far fa-gem u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">Base UI</span>
                  <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                  <span class="u-sidebar-nav-menu__indicator"></span>
                </a>

                <ul id="baseUI" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level" style="display: none;">
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="./ui-typography.html">
                      <span class="u-sidebar-nav-menu__item-icon">T</span>
                      <span class="u-sidebar-nav-menu__item-title">Typography</span>
                    </a>
                  </li>
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="./ui-colors.html">
                      <span class="u-sidebar-nav-menu__item-icon">C</span>
                      <span class="u-sidebar-nav-menu__item-title">Colors</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- End Base UI -->

              <!-- UI Components -->
              <li class="u-sidebar-nav-menu__item">
                <a class="u-sidebar-nav-menu__link" href="#!"
                   data-target="#subMenu1">
                  <i class="far fa-paper-plane u-sidebar-nav-menu__item-icon"></i>
                  <span class="u-sidebar-nav-menu__item-title">UI Components</span>
                  <i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
                  <span class="u-sidebar-nav-menu__indicator"></span>
                </a>

                <ul id="subMenu1" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level" style="display: none;">
                  <!-- Components -->
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="./ui-alerts.html">
                      <span class="u-sidebar-nav-menu__item-icon">A</span>
                      <span class="u-sidebar-nav-menu__item-title">Alerts</span>
                    </a>
                  </li>
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="./ui-buttons.html">
                      <span class="u-sidebar-nav-menu__item-icon">B</span>
                      <span class="u-sidebar-nav-menu__item-title">Buttons</span>
                    </a>
                  </li>
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="./ui-cards.html">
                      <span class="u-sidebar-nav-menu__item-icon">C</span>
                      <span class="u-sidebar-nav-menu__item-title">Cards</span>
                    </a>
                  </li>
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="./ui-modals.html">
                      <span class="u-sidebar-nav-menu__item-icon">M</span>
                      <span class="u-sidebar-nav-menu__item-title">Modals</span>
                    </a>
                  </li>
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="./ui-tooltips-and-popovers.html">
                      <span class="u-sidebar-nav-menu__item-icon">T</span>
                      <span class="u-sidebar-nav-menu__item-title">Tooltips & Popovers</span>
                    </a>
                  </li>
                  <li class="u-sidebar-nav-menu__item">
                    <a class="u-sidebar-nav-menu__link" href="./ui-others.html">
                      <span class="u-sidebar-nav-menu__item-icon">O</span>
                      <span class="u-sidebar-nav-menu__item-title">Other Components</span>
                    </a>
                  </li>
                  <!-- End Components -->
                </ul>
              </li>
              <!-- End UI Components -->

          

              <!-- End Free Download -->
            </ul>
          </nav>
        </div>
      </aside>
      <!-- End Sidebar -->

      <div class="u-content">
        <div class="u-body">
          <!-- Doughnut Chart -->
          <div class="row">
            <div class="col-md-12 ">
              <header class="card-header d-md-flex align-items-center">
              <h2 class="h3 card-header-title">Overall Income</h2>

              <!-- Nav Tabs -->
              <ul id="overallIncomeTabsControl" class="nav nav-tabs card-header-tabs ml-md-auto mt-3 mt-md-0">
                <li class="nav-item mr-4">
                  <a class="nav-link active" href="#overallIncomeTab1" role="tab" aria-selected="true" data-toggle="tab">
                    <span class="d-none d-md-inline">Last</span>
                    7 days
                  </a>
                </li>
                <li class="nav-item mr-4">
                  <a class="nav-link" href="#overallIncomeTab2" role="tab" aria-selected="false" data-toggle="tab">
                    <span class="d-none d-md-inline">Last</span>
                    30 days
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#overallIncomeTab3" role="tab" aria-selected="false" data-toggle="tab">
                    <span class="d-none d-md-inline">Last</span>
                    90 days
                  </a>
                </li>
              </ul>
              <!-- End Nav Tabs -->
            </header>
            <div class="table">
              
            </div>
            </div>

          </div>
          <!-- End Doughnut Chart -->

   

        </div>

        <!-- Footer -->
        <footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted text-muted">
          <p class="h5 mb-2 mb-md-0">More freebies on <a class="link-muted" href="https://htmlstream.com/" target="_blank">Htmlstream</a></p>

          <p class="h5 mb-0 ml-auto">
            &copy; 2018 <a class="link-muted" href="https://htmlstream.com/" target="_blank">Htmlstream</a>. All Rights Reserved.
          </p>
        </footer>
        <!-- End Footer -->
      </div>
    </main>
