/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require css/theme.css
 *= require css/all.min.css
 */
 body{
 	font-family: Georgia;
 }
 .enter{
  position: absolute;
  top:50px;
  right:250px;
  display: none;
 }
 .date{
  font-size: 12px;
  color:grey;
 }
 .btn-pool{
border:none;
font-family:georgia;
font-size: 18px;
font-color:#ff66ff;
height:50px; 
 }
 #create_new_space{
   position: absolute;
   top:50px;
   right: 50px;
   box-shadow: 0px 0px 6px 1px;
  z-index: 9999;
 }
 #create_task_form{
 	position: absolute;
    right: 25px;
 	top:25px;
 	box-shadow: 0px 0px 6px 1px;
    z-index:9999;
 }
 .form-pool:focus {

    width: 200px;
    height: 33px;
    padding: 5px;
    color: #808080;
    border: 1px solid #ccc;
    border-radius: 9px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: Arial;
    font-size: 13px;

}
i{
    cursor: pointer;
}
.form-pool {
    padding: 10px;
    height: 33px;
    font-family: Georgia;
    font-style: italic;
    font-size: 12px;
     width: 80px;
    color: #848484;
    border: 1px solid #dedede;
    -webkit-border-radius: 5px;
    -webkit-transition: 0.5s;
    background-color: #efefef;
 

}
#show_task{
    position: absolute;
    top: 20px;
    left:35%;
    box-shadow: 0px 0px 6px 1px;
    z-index:9999;

}
.close{
    cursor: pointer;
}
.close0{
    cursor: pointer;
}
#note_task{
    position:absolute;
    top:50px;
    right:100px;
    z-index: 9999999999;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0px 0px 6px 1px;
}

    #mainContent #firstBox {
      transform: translate3d(0, 100px, 0);
      transition: all .5s ease-in-out;
      opacity: 0;
    }
 
    #mainContent #firstBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
 
    #mainContent #secondBox {
      transition: all .2s ease-in-out;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
    }
 
    #mainContent #secondBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    #mainContent #thirdBox {
      transition: all .2s ease-in-out;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
    }
 
    #mainContent #thirdBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    #mainContentTwo #fourthBox {
      transition: all .2s ease-in-out;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
    }
 
    #mainContentTwo #fourthBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    #mainContentThree #fifthBox {
      transition: all .1s ease-in-out;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
    }
 
    #mainContentThree #fifthBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    #mainContentThree #sixthBox {
      transition: all .1s ease-in-out;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
    }
 
    #mainContentThree #sixthBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    #mainContentThree #seventhBox {
      transition: all .2s ease-in-out;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
    }
 
    #mainContentThree #seventhBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    #mainContentThree #eighthBox {
      transition: all .3s ease-in-out;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
    }
 
    #mainContentThree #eighthBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    #mainContentThree #ninethBox {
      transition: all .3s ease-in-out;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
    }
 
    #mainContentThree #ninethBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    #mainContentThree #tenthBox {
      transition: all .165s ease-in;
      transform: translate3d(0, 100px, 0);
      opacity: 0;
    }
 
    #mainContentThree #tenthBox.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    h1.ziver {
      margin-top: 150px;
      margin-left: 100px;
    }
    div.diver {
      margin-left: 100px;
    }